*
{margin:20px;
 background-size: 600px;}
 #firstheading 
    { color:goldenrod;
      background-color: aqua;
      border:2px solid blue;
      border-radius: 24px; 
      outline-style:initial;
      outline-color:black;
      outline-width: 48px;
      text-align: center;}
      #at
      {border-radius: 60px;
      outline-style:initial;
      border:2px lightcoral;
      }
      .one
      {outline-style: 2px solidgreen;
      border:2px lightgreen; }
      body 
      {background-image: url(viewme.jpg);
      background-repeat: repeat;
      background-attachment: scroll;
      background-position: center; 
      background-size: cover;
      text-align: center;
      }
    p  
    {color:rgb(78, 30, 190); 
    background-color: lightgreen;
    font-size: 70px;
    text-align: center;
    border-style: double;
    border-color: cornflowerblue;
    border-radius: 80px;
    border-width: 28px;
    margin-top: 24px;
    margin-right:100px;
    margin-bottom: 2px;
    margin-left:100px ;}
    
    #secondheading
    {color:green;
    background-origin: lightpink;}
    h3
    {text-shadow:  2px;}
    h4
    {text-shadow: 2px 5px royalblue;}
    .customStyle
    { color:aquamarine; 
      background-color: green;
      border-radius: 90px red;
       }
    .secondheading 
    p
    {margin-top: 24px;
      margin-right:4px;
      margin-bottom: 2px;
      margin-left:8px ;}
   form
   {background-image: url(image-cache.jpg);
    margin-top: 800pxpx;
    background-repeat: no-repeat;
      margin-right:800px;
      margin-bottom:90px;
      margin-left:700px ;
   text-align: left;
    background-color:dodgerblue;
   background-size: 450px;
    color:black;

   }
    .mune
    {font-size: large;
      color:maroon;
     text-size-adjust: 1000px;
     border-color: rgb(24, 255, 236);
     text-align: center;
     
     }
     table
     {margin-top: 10px;
      margin-right:1000px;
      margin-bottom: 80px;
      margin-left:800px ;}

      .link
      {color:coral;
        text-decoration: none;}
     .link:visited
     { color:aqua;
    text-shadow: 2px 2px 5px;}
    .link:hover
    {color: lightgoldenrodyellow;

    }
    ul{
      text-align: start;
      margin-right:800px;
      margin-bottom:90px;
      margin-left:700px ;
    }
    ol{
      text-align: start;
      margin-right:800px;
      margin-bottom:90px;
      margin-left:700px ;
    }
    .card{
      width: 500px;
      max-width: 400px;
      height: 200px;
      max-height: 300;
      overflow:auto;
      text-decoration: aqua;
    }
 .container 
 {
  display:flex;
  background-color:rebeccapurple;
  flex-direction: row-reverse;
  justify-content: center;
 }
 .container div
 {background-color:rgb(195, 136, 255);
  margin:10px;
  padding: 20px;}
 .container1 
 {display: grid;
  background-color:rgb(34, 238, 245);
  justify-content: center;
  grid-template-columns:auto auto auto;
  width: 500px;
  margin-left:500px:
}
.container1 span{
background-color:rgb(14, 171, 233);
border: 2px solid black;
}